In [1]:
# importing the libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PoissonRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler  # For standardizatio

In [7]:
# load the data

train_data = pd.read_csv("Data/TRAIN/novartis_datathon_train_data_full_merged.csv")
train_data.head()

# We need to distinguish between test and train data here, so... will probably need to merge datasets per group.
# Joelle already did the merging of training data, I just need the test data merged now.

,country,brand_name,month,months_postgx,volume,n_gxs,ther_area,hospital_rate,main_package,biological,small_molecule
0,COUNTRY_B6AE,BRAND_1C1E,Jul,-24,272594.3921,NaN,Muscoskeletal_Rheumatology_and_Osteology,0.002088,PILL,False,True
1,COUNTRY_B6AE,BRAND_1C1E,Aug,-23,351859.3103,NaN,Muscoskeletal_Rheumatology_and_Osteology,0.002088,PILL,False,True
2,COUNTRY_B6AE,BRAND_1C1E,Sep,-22,447953.4813,NaN,Muscoskeletal_Rheumatology_and_Osteology,0.002088,PILL,False,True
3,COUNTRY_B6AE,BRAND_1C1E,Oct,-21,411543.2924,NaN,Muscoskeletal_Rheumatology_and_Osteology,0.002088,PILL,False,True
4,COUNTRY_B6AE,BRAND_1C1E,Nov,-20,774594.4542,NaN,Muscoskeletal_Rheumatology_and_Osteology,0.002088,PILL,False,True

In [21]:
# Importing test data
df_generics_test = pd.read_csv("Data/TEST/df_generics_test.csv")
df_medicine_info_test = pd.read_csv("Data/TEST/df_medicine_info_test.csv")
df_volume_test = pd.read_csv("Data/TEST/df_volume_test.csv")

In [23]:
df_generics_test.head()

        country  brand_name  months_postgx  n_gxs
0  COUNTRY_B6AE  BRAND_DF2E              0    0.0
1  COUNTRY_B6AE  BRAND_DF2E              1    0.0
2  COUNTRY_B6AE  BRAND_DF2E              2    1.0
3  COUNTRY_B6AE  BRAND_DF2E              3    2.0
4  COUNTRY_B6AE  BRAND_DF2E              4    2.0

In [25]:
df_medicine_info_test.head()

,country,brand_name,ther_area,hospital_rate,main_package,biological,small_molecule
0,COUNTRY_0024,BRAND_31BE,Nervous_system,0.312618,PILL,False,True
1,COUNTRY_0024,BRAND_5165,Anti-infectives,4.338363,PILL,False,True
2,COUNTRY_0024,BRAND_79B0,Nervous_system,0.708826,PILL,False,True
3,COUNTRY_0024,BRAND_8164,Cardiovascular_Metabolic,1.279747,PILL,False,True
4,COUNTRY_01A1,BRAND_03DE,Muscoskeletal_Rheumatology_and_Osteology,1.464159,PILL,False,True

In [27]:
df_volume_test.head()

        country  brand_name month  months_postgx         volume
0  COUNTRY_9891  BRAND_DB48   Oct            -24  231503.758930
1  COUNTRY_9891  BRAND_DB48   Nov            -23  203754.675422
2  COUNTRY_9891  BRAND_DB48   Dec            -22  224900.019121
3  COUNTRY_9891  BRAND_DB48   Jan            -21  252599.927052
4  COUNTRY_9891  BRAND_DB48   Feb            -20  229358.622728

In [39]:
# Merge test data
generics_medicine_test_data = pd.merge(df_generics_test, df_medicine_info_test, on=['country', 'brand_name'], how='outer')
test_data = pd.merge(generics_medicine_test_data, df_volume_test, on=['country', 'brand_name'], how='outer')

test_data.head()

,country,brand_name,months_postgx_x,n_gxs,ther_area,hospital_rate,main_package,biological,small_molecule,month,months_postgx_y,volume
0,COUNTRY_0024,BRAND_31BE,0,2.0,Nervous_system,0.312618,PILL,False,True,Aug,-24,67789.311219
1,COUNTRY_0024,BRAND_31BE,0,2.0,Nervous_system,0.312618,PILL,False,True,Sep,-23,58190.050326
2,COUNTRY_0024,BRAND_31BE,0,2.0,Nervous_system,0.312618,PILL,False,True,Oct,-22,76081.987297
3,COUNTRY_0024,BRAND_31BE,0,2.0,Nervous_system,0.312618,PILL,False,True,Nov,-21,68133.979266
4,COUNTRY_0024,BRAND_31BE,0,2.0,Nervous_system,0.312618,PILL,False,True,Dec,-20,73473.557257